# Target Config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y

CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Target Devices
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_aliyun_ap8220=y
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_arcadyan_aw1000 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_buffalo_wxr-5950ax12 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_cmcc_rm2-6 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_compex_wpq873 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_dynalink_dl-wrx36 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_edgecore_eap102 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_edimax_cax1800 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_netgear_rax120v2 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_netgear_wax218 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_netgear_wax620 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_netgear_wax630 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_prpl_haze is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_qnap_301w is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax3600 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax9000 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_zbtlink_zbt-z800ax is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_zte_mf269 is not set
# CONFIG_TARGET_qualcommax_ipq807x_DEVICE_zyxel_nbg7815 is not set

# 安装插件
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-zerotier=y

# 删除插件
CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_cpufreq=n

# 组件调整
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_LUCI_LANG_zh_Hans=y

# 设置NSS版本
CONFIG_NSS_FIRMWARE_VERSION_11_4=n
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

# 主题
CONFIG_PACKAGE_luci-theme-argon=y
